In [1]:
import pandas as pd

In [2]:
df =pd.read_csv("archive (8)/StudentsPerformance.csv")
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [3]:
df["parental level of education"].unique()

array(["bachelor's degree", 'some college', "master's degree",
       "associate's degree", 'high school', 'some high school'],
      dtype=object)

In [4]:
df["parental level of education"] = df["parental level of education"].map({
    "some high school": 0,
    "bachelor's degree": 1,
    "some college": 2,
    "master's degree": 3,
    "associate's degree": 4,
    "high school": 5
})

X =df[["math score","reading score","writing score"]]
y = df["parental level of education"]

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=40)

In [9]:
# create and train a LogisticRegression model
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(max_iter=1000)
model.fit(X_train, y_train)

# evaluate
print("Train score:", model.score(X_train, y_train))
print("Test score:", model.score(X_test, y_test))

Train score: 0.2375
Test score: 0.325

C:\Users\Dhananjay\AppData\Roaming\Python\Python313\site-packages\sklearn\linear_model\_logistic.py:473: ConvergenceWarning: lbfgs failed to converge after 1000 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=1000).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [10]:
model = LogisticRegression()
model.fit(X_train,y_train)
model.score(X_test,y_test)

C:\Users\Dhananjay\AppData\Roaming\Python\Python313\site-packages\sklearn\linear_model\_logistic.py:473: ConvergenceWarning: lbfgs failed to converge after 100 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=100).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.285

In [11]:
model.predict([[90,95,93]])

C:\Users\Dhananjay\AppData\Roaming\Python\Python313\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([4])

In [12]:
from sklearn.tree import DecisionTreeClassifier

In [13]:
model1 = DecisionTreeClassifier()
model1.fit(X_train,y_train)
model1.score(X_test,y_test)

0.195

In [14]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)
results = {}

In [15]:
from sklearn.svm import SVC

from sklearn.metrics import accuracy_score
model3 = SVC()
model3.fit(X_train_scaled, y_train)
results["SVM Accuracy"] = accuracy_score(y_test, model3.predict(X_test_scaled))

In [16]:
model = LogisticRegression()
model.fit(X_train_scaled,y_train)
results["Logistic Regression Accuracy"] = accuracy_score(y_test, model.predict(X_test_scaled))

In [17]:
model1 = DecisionTreeClassifier()
model1.fit(X_train_scaled,y_train)
results["Decision Tree Accuracy"] = accuracy_score(y_test, model1.predict(X_test_scaled))

In [18]:
from sklearn.linear_model import LinearRegression
model2 = LinearRegression()
model2.fit(X_train_scaled,y_train)
results["Linear Regression Accuracy"] = accuracy_score(y_test, model2.predict(X_test_scaled).round())

In [19]:
print(results)

{'SVM Accuracy': 0.245, 'Logistic Regression Accuracy': 0.3, 'Decision Tree Accuracy': 0.2, 'Linear Regression Accuracy': 0.11}

In [20]:
sx = pd.read_csv("Obesity Classification.csv")
sx.head()

   ID  Age  Gender  Height  Weight   BMI          Label
0   1   25    Male     175      80  25.3  Normal Weight
1   2   30  Female     160      60  22.5  Normal Weight
2   3   35    Male     180      90  27.3     Overweight
3   4   40  Female     150      50  20.0    Underweight
4   5   45    Male     190     100  31.2          Obese

In [21]:
maping = {
    "Male":0,
    "Female":1,}

sx["Gender"] = sx["Gender"].map(maping)

In [22]:
sx['Label'].unique()

array(['Normal Weight', 'Overweight', 'Underweight', 'Obese'],
      dtype=object)

In [23]:
data = {
    'Normal Weight':1, 'Overweight':2, 'Underweight':3, 'Obese':4,
}
sx['Label'] = sx['Label'].map(data)
sx

      ID  Age  Gender  Height  Weight   BMI  Label
0      1   25       0     175      80  25.3      1
1      2   30       1     160      60  22.5      1
2      3   35       0     180      90  27.3      2
3      4   40       1     150      50  20.0      3
4      5   45       0     190     100  31.2      4
..   ...  ...     ...     ...     ...   ...    ...
103  106   11       0     175      10   3.9      3
104  107   16       1     160      10   3.9      3
105  108   21       0     180      15   5.6      3
106  109   26       1     150      15   5.6      3
107  110   31       0     190      20   8.3      3

[108 rows x 7 columns]

In [24]:
X = sx[["BMI","Gender"]]
y = sx['Label']
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state= 42)

In [25]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X_train_sc = scaler.fit_transform(X_train)
X_test_sc = scaler.transform(X_test)

In [26]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train_sc,y_train)
model.score(X_test_sc,y_test)

-0.01653695144739853

In [27]:
from sklearn.linear_model import LogisticRegression
model1 = LogisticRegression()
model1.fit(X_train_sc,y_train)
model1.score(X_test_sc,y_test)

0.5454545454545454

In [28]:
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score,f1_score,confusion_matrix,precision_score

model2 = SVC(kernel='linear')
model2.fit(X_train_sc,y_train)
model2.score(X_test_sc,y_test)

0.5

In [29]:
model3 = SVC(kernel='rbf')
model.fit(X_train_sc,y_train)
model.score(X_test_sc,y_test)

-0.01653695144739853

In [30]:
model4 = SVC(kernel='poly')
model4.fit(X_train_sc,y_train)
model4.score(X_test_sc,y_test)

0.9090909090909091

In [31]:
from sklearn.tree import DecisionTreeClassifier
model6 = DecisionTreeClassifier()
model6.fit(X_train_sc,y_train)
model6.score(X_test_sc,y_test)

1.0

In [32]:
def predict_obesity():
    bmi_sc = float(input("enter scaled bmi: "))
    gender = int(input("enter gender 0:Male , 1:Female: "))
    result = model6.predict([[bmi_sc,gender]])[0]
    if result == 1:
        return "Normal Weight"
    elif result == 2:
        return "Overweight"
    elif result == 3:
        return "Underweight"
    elif result == 4:
        return "Obese"

In [33]:
print(predict_obesity())

Obese