In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("Social_Network_Ads.csv")
df.head(5)

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [9]:
X = df[["Age","EstimatedSalary"]]
y = df["Purchased"]

In [17]:

from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=.2,random_state=40)

In [23]:
model = KNeighborsClassifier(n_neighbors=3)
model.fit(X_train,y_train)
model.score(X_train,y_train)

0.878125

In [25]:
model = KNeighborsClassifier(n_neighbors=7)
model.fit(X_train,y_train)
model.score(X_train,y_train)

0.828125

In [27]:
model = KNeighborsClassifier(n_neighbors=1)
model.fit(X_train,y_train)
model.score(X_train,y_train)

0.99375